
/*[test-attr] - власний атрибут
[class*= "col"] - вибірка усіх класів що містять col
[classˆ= "col"] - вибірка усіх класів що починається col
[class$= "col"] - вибірка усіх класів що завершується на col
.first>li a{

} - доступ до файлів лише на 1 рівні вкладеності
.div p.first + ~{} вибрати наступний після first
div: псевдокласи... firstchild...
div p:nth-child(odd)
div p:nth-child(add)
*/
section{
    width: 680px;
    margin: 0 auto;
    position: center;

}
section img{
    width: 100%;
}
.v{
    width: 100%;
    height: 320px;
    text-align: center;
    margin: 10px auto;
}
.v figure{
    margin: 0 auto;
    width: 100%;

}
.v figure>img{
    margin: 0;
    height: 300px;
    width: 100%;

}

figcaption{
    text-align: center;
    color:rgba(117, 117, 117, 1);
}
a{
    color: black;
}
mark{
    background-color: lightgrey;
}